#v-users li{
  list-style: none;
}

#v-users li:nth-child(odd){
  background: lightblue;
}

#v-users li:nth-child(even){
  background: lightgreen;
}

#v-users li:hover{
  background: lightpink;
  font-weight: bold;
  cursor: pointer;
}